@import './shared.module.css';

:root {
  --width-leftNavigationOpen: 245px;
  --margin-leftNavigation: 48px;

  /* Left navigation */
  --width-leftNavigation: 64px;
}

.toolbarup {
  animation: toolbarUp 0.3s forwards;
}

@keyframes toolbarUp {
  0% {
    bottom: calc(var(--height-save-toolbar) * -1);
  }

  100% {
    bottom: 0;
  }
}

/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
  line-height: 0;
}

.clearfix::after {
  clear: both;
}

.container {
  composes: toolbarup;
  composes: clearfix;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-6) var(--border-radius-6) 0 0;
  bottom: 0;
  left: calc(var(--width-leftNavigation) + var(--margin-leftNavigation));
  position: fixed;
  width: calc(var(--width-oneHundredPercent) - var(--margin-leftNavigation) - var(--width-leftNavigation) * 2 - 27px);
  z-index: 9999;
}

:global(.body__menu-open) .container {
  left: calc(var(--width-leftNavigationOpen) + var(--margin-leftNavigation));
  width: calc(var(--width-oneHundredPercent) - var(--margin-leftNavigation) - var(--width-leftNavigation) - var(--width-leftNavigationOpen) - 27px);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: inline-block;
  padding: 10px 15px;
}

.list-left,
.list-right {
  composes: list;
}

.list-right {
  float: right;
}

.list-right .list-item {
  padding-left: 0;
}

.list-left {
  float: left;
}