:root {
  /* Left navigation */
  --width-leftNavigation: 64px;
  --width-oneHundredPercent: 100%;

  /* save toolbar */
  --height-save-toolbar: 57px;

  /* additional spacing at the bottom of view that has a save-toolbar */
  --spacing-bottom-with-save-toolbar: calc(
    var(--height-save-toolbar) + var(--spacing-m)
  );

  /* Modals */
  --z-index--overlay: 999;
}
