:root {
  --bullet-height: var(--spacing-xl);
}

.header-list-item-button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.header-list-item-button:focus {
  outline: 0;
}

.header-list-item-button[disabled] {
  cursor: default;
}

.header-list-item-button[disabled] .bullet {
  box-shadow: none;
}

.header-list-item-button:hover:not([disabled]) .bullet {
  box-shadow: var(--shadow-8);
  background-color: var(--color-primary);
}

.header-list-item-button:first-of-type {
  justify-content: flex-start;
}

.header-list-item-button:last-child {
  justify-content: flex-end;
}

.bullet-container {
  flex-shrink: 0;
  position: relative;
  width: var(--spacing-xl);
  z-index: 2;
}

li:not(:first-child) .bullet-container {
  padding-left: var(--spacing-l);
  width: calc(var(--spacing-l) + var(--spacing-xl));
}

.bullet {
  align-items: center;
  background-color: var(--color-surface);
  border: 1px solid var(--color-neutral);
  border-radius: var(--spacing-m);
  color: var(--color-neutral-60);
  display: flex;
  font-size: 14px;
  height: var(--spacing-xl);
  justify-content: center;
  transition: background-color var(--transition-linear-80ms);
}

.header-list-item--active .bullet {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-surface);
}

.header-list-item--done .bullet {
  background-color: var(--color-neutral);
}

.tab-text {
  color: var(--color-neutral-60);
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: var(--spacing-s) var(--spacing-l) var(--spacing-s) var(--spacing-m);
  position: relative;
  text-align: left;
  z-index: 1;
}

.header-list-item--active .tab-text {
  color: var(--color-primary);
}

/* Skins */

/* Skin grey (default) */

.tab-text-grey {
  composes: tab-text;
  background-color: var(--color-neutral-90);
}

.bullet-container-grey {
  composes: bullet-container;
  background-color: var(--color-neutral-90);
}

/* Skin white */

.tab-text-white {
  composes: tab-text;
  background-color: var(--color-surface);
}

.bullet-container-white {
  composes: bullet-container;
  background-color: var(--color-surface);
}
