.regular-price-block {
  text-decoration: line-through;
  color: var(--color-solid);
}

.discounted-price {
  color: var(--color-solid);
  letter-spacing: 0;
}

.cart-discount-text {
  color: var(--color-info);
}
