@import './shared.module.css';

/* ------------------------------------------------------ *
 * Composable selectors
 * ------------------------------------------------------ */
.appear {
  animation: appear 0.3s linear;
}

.spin {
  animation: spin 0.5s infinite linear;
}

/* Animations */
.show {
  animation: show 0.3s forwards linear;
}

.hide {
  animation: hide 0.3s forwards;
}

.toolbarup {
  animation: toolbarUp 0.3s forwards;
}

.pageslide {
  animation: pageslide 0.3s forwards;
}

.increase {
  animation: increaseSize 0.3s forwards;
}

.decrease {
  animation: decreaseSize 0.15s forwards;
}

/* ------------------------------------------------------ *
 * Animation definitions
 * ------------------------------------------------------ */

/* 3D animation to show the attribute filters when added */

@keyframes appear {
  0% {
    transform: rotateX(-90deg);
    background: var(--color-neutral-95);
  }

  100% {
    transform: rotateX(0deg);
    background: none;
  }
}

@keyframes spin {
  from {
    transform-origin: 20px 20px 0;
    transform: rotate(0deg);
  }

  to {
    transform-origin: 20px 20px 0;
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0.01;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
  }
}

@keyframes toolbarUp {
  0% {
    bottom: calc(var(--height-save-toolbar) * -1);
  }

  100% {
    bottom: 0;
  }
}

@keyframes rotateIt {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes pageslide {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes increaseSize {
  0% {
    opacity: 0.01;
    visibility: hidden;
    transform: scale3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes decreaseSize {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale3d(1, 1, 1);
    margin: auto;
    width: 120px;
  }

  100% {
    opacity: 0.01;
    visibility: hidden;
    transform: scale3d(0, 0, 0);
    margin: auto;
    width: 0;
  }
}

@keyframes pageslide {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: 0;
  }
}
